* {
    padding: 0px;
    border: 0px;
    margin: 0px;
    font-family: 'Rubik', sans-serif;
}

:root {
    --backgroung-ligt: #dfe4f7;
    --backgroung-white: #F6F5FF;
    --color-primary: #6143FF;
    --text-dark: #0A0040;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--backgroung-white);
    color: var(--text-dark);

}

.container {

    width: 100%;
    height: 100%;
    display: flex;
}

.sidebar {
    width: 100px;
    background-color: var(--color-primary);
}
.sidebar img {
    max-width: 100%;
}

nav {
    height: 100px;
    background-color: var(--backgroung-ligt);
    width: calc(100vw - 100px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

.btn {
    margin-left: 5px;
    padding: 20px 30px;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
a.btn {
    text-decoration: none;
}
.btn:hover {
    transform: scale(1.05);
}
.btn-primary {
    background-color: var(--color-primary);
    color: white;
}
.btn-danger{
    background-color: red;
    color: white;
}
main {
    display: flex;
    padding: 0px;
}

section.graph {
    padding: 20px 20px 0px 20px;
    width: 33%;
    height: 100%;
}

.graph_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    flex: 2;
    font-size: 18px;
    display: inline-block;
}
.graph_header_date {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
}
.graph_header_line{
    flex: 3;
    margin-right: 15px;
    width: 100px;
    background-color: rgba(0, 0, 0, .20);
    height: 2px;
}
.graph_header_subititle{
    margin-top: 10px;
}

.graph_placeholder{
    flex: 1;
    background-color: #e2e2e2;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-left: 35px;
    background: url('/asset/images/graph.png');
    background-size: contain;
}
.tasks_left_footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    flex: 1;
}
.lista {
    flex: 1;
    padding: 20px 20px 0px 20px;
}
.list-header{
    display: flex;
}
.list-header-select{
    background-color: transparent;
    border: 0;
    font-size: 18px;
    color: var(--text-dark);
}
.task-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;

}

.task {
    margin-right: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 15px;
    border-bottom: 1px solid var(--backgroung-ligt);
    transition: all .3s ease-in-out;

}
.task:hover {
    transform: scale(1.05);
    border-radius: 10px;
    background-color: var(--backgroung-ligt);
    overflow: hidden;
}

.title {
    align-items: center;
    display: flex;
    flex: 1;

}
.priority, .actions {
    display: flex;
    flex-direction: row;
    flex: 1;
}
.actions{
    display: flex;
    justify-content: flex-end;
}
.actions a {
    transition: all .3s ease-in-out;
    margin-left: 20px;
    margin-right: 10px;
}
.actions a:hover{
    transform: scale(1.50);
}
.task_title{
    padding-left: 10px;
    font-weight: bold;
}
.sphere {
    width: 22px;
    height: 22px;

    border-radius: 50%;
    margin-right: 10px;
    align-items: center;
}

#task_section {
    margin: auto;
    padding-top: 20px;

}

#task_section>h1{
    text-align: center;
    margin-bottom: 20px;
}

.inputArea {
    display: block;
    margin: 10px 0 20px 0;
}
.inputArea>label {
    display: block;
    margin-bottom: 5px;
}
.inputArea>input {
    background-color: rgba(255, 255, 255, 0.5);
    height: 40px;
    width: 400px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px 10px;
}
.inputArea>select{
    background-color: rgba(255, 255, 255, 0.5);
    height: 40px;
    width: 420px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px 10px;
}

.inputArea>textarea{
    background-color: rgba(255, 255, 255, 0.5);
    width: 400px;
    height: 120px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-top: 20px;
}
